.connections-page {

    h1 {
        margin: 0;
        padding: 40px;
        padding-bottom: 30px;
        background-color: #f6f6f6;
    }

    .connection {

        i {
            font-size: 1.8em;
            margin-right: 12px;
            margin-top: 5px;
            opacity: 0.8;
        }
    }
}
