.connections-page {

    max-width: 600px;

    .connection {

        i {
            font-size: 1.8em;
            margin-right: 12px;
            margin-top: 5px;
            opacity: 0.8;
        }

        &:hover {
            cursor: pointer;
            background-color: #f6f6f6;
        }
    }
}

.add-connection-page {

    max-width: 600px;

    .btn {
        margin-right: 10px;
    }

    .text-danger {
        margin-left: 10px;
    }
}
