.query-page {

    button {

        margin-bottom: 10px;

        .text-muted {
            opacity: 0.5;
        }
    }

    table {
        margin-top: 20px;
    }

    .text-danger {
        margin-top: 10px;
    }

    #brace-editor {
        outline: 1px solid #eee;
    }
}
