.table-page {

    .pagination {

        margin-top: 0;
        margin-bottom: 10px;

        .page-counter a {
            cursor: default;
            background-color: inherit;
            color: #666;
        }
    }
}

.data-table {

    em.text-muted {
        opacity: 0.5;
    }

    em.text-success, em.text-danger {
        opacity: 0.9;
    }

    td {
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
