.table-page {

    .pagination {
        margin-top: 0;
        margin-bottom: 10px;
    }
}

.data-table {

    em.text-muted {
        opacity: 0.5;
    }

    em.text-success, em.text-danger {
        opacity: 0.9;
    }
}
